  <form method="POST" action="/play">
  <body style="background-color:#F5F5DC;">
<h2>
    <h1 style="text-align:center;">ROCK, PAPER, SCISSORS</h1>
</br></br></br>
<h3 style="text-align:center;">Before we start lets take a minute to familiarize ourselves with the rules.</h3>

 <p >Rules:
      <ol>
        <li> Scissors cuts Paper</li>
        <li> Paper covers Rock</li>
        <li> Rock crushes Scissors</li>
      </ol>
    <p style="text-align:center;">
      Click on the Button to Start Playing.
    </p>
<div style="text-align:center; min-width:60px;">
    <input type="submit" value="Start " data-inline="true" />
     </div>
</form> 