  <form method="POST" action="/play">
  
    <div data-role="header">
    <h1 style="text-align:center;">PLAY ZONE</h1>
    </div>

  

 <div style="min-height=40px;">
      <ul data-role="listview"  data-inset="true" data-theme="d">
        <li data-role="divider" style="text-align:center;" data-theme="a"> Rules</li>
        <li style="text-align:center;"> Scissors cuts Paper</li>
        <li style="text-align:center;"> Paper covers Rock</li>
        <li style="text-align:center;"> Rock crushes Scissors</li>
      </ul>
 </div>
    <p style="text-align:center;">
      Click on the Button to Start Playing.
    </p>

    <input data-role="button" data-theme="e"  type="submit" value="Start Playing" style="min-height=40px;" />
     

	</div>
</form> 

